{% extends "core/base.html" %}

{% block title %}Menu{% endblock %}

{% block pre_content %}
{% csrf_token %}
{% load static %}
{% load core_tag %}
<!--TODO: вынести в static , вынести в include-->
<!--FIXME: убрать console -->
<!--FIXME: переместить определение переменных на верх -->
<script>
        $(document).ready(function(){
            /*
                Кастомный сценарий на странице

            */

            // TODO: Вынести в static

            /*
                отправка сообщения
            */
            function send_ajax(data, url){
                 $.ajax({
                    url : url,
                    type : "POST",
                    data : data,
                    success : function(json) {

                        if (json.error){
                            var default_text = "Some Error on Server";
                            $("h4.modal-title").text(
                                json.head || default_text);
                            $("div.modal-body>p").html(
                            json.error +"<br>"+json.details
                            )

                        }
                        else{
                            $("h4.modal-title").text("Well done!");
                            $("div.modal-body>p").text(
                                json.success
                            )
                        }
                        $('#myModal').modal('show');

                    },
                    error : function(xhr,errmsg,err) {

                        $("h4.modal-title").text("Request Error");
                            $("div.modal-body>p").text(
                                xhr.status + ": " + xhr.responseText
                            )
                    }
                 });
            }

            /*
                Валидация
            */
            function validate(obj){
                //obj - объект .col-sm-6
                var findZeroObjects = obj.find('input[value="0"]');
                var findOneObjects = obj.find('input[value="1"]');
                var findSelectVal = obj.find('select').val()
                /*
                    Если выбрана хоть одна опция в дне недели, но не выбранно
                    место, то это счиатается ошибка

                */
                if (findSelectVal && (
                            findOneObjects.length || findZeroObjects.length==3)
                    || !(findSelectVal) && (findOneObjects.length == 0)


                ){
                    <!-- correct -->
                }
                else{
                    /* not correct */

                    // TODO : вынести модалки в отдельный VIEW
                    // TODO : вынести модалки в base.html
                    var elem = findZeroObjects[0] || findOneObjects[0]

                    if ($(elem).attr('name')){

                    var name = $(elem).attr('name').split('_')[1]

                    $("h4.modal-title").text("Some Error on Page");
                    $("div.modal-body>p").text(
                        "It seems there is no place chosen for the order: "
                            +name
                        )
                    $('#myModal').modal('show');
                    return true
                    }
                }
            };

            /*
                Добавление аттрибута select options после клика
            */

             $('select').click(function(){

                $(this).find('option').removeAttr('selected');
                $(this).find('option[value="'+$(this).val()+'"]').attr(
                    {"selected":"selected"}
                );

             });

            /*
                Оформление range selector
            */

            $(".coolSlider").slider({
                ticks: [0, 5, 10, 15, 20],
                ticks_positions: [0, 25, 50, 75, 100],
                ticks_labels: [0, 5, 10, 15, 20],
                ticks_snap_bounds: 0,
                value: 0,
            });

            /*
                выбор опций внутри селектов
            */

            {% autoescape off %}
            var selectorsCity = {{option|return_offices}}
            {% endautoescape %}


            var keysToUpdate = Object.keys(selectorsCity)
            var i = 0;
            for (i = 0; i < keysToUpdate.length; i++) {
                var key = keysToUpdate[i];
                var value = selectorsCity[
                    keysToUpdate[i]].replace('"','').replace('"','');
                // обновление для пользователей (is_group==False)
                var id = '#' + key
                $(id).val(value)
                // обновление для пользователей (is_group==True)
                var group_id = '#group_' + key
                $(group_id).val(value)
                /*
                    Добавление аттрибута select
                */
                $(id).find('option').removeAttr('selected');
                $(id).find('option[value="'+value+'"]').attr(
                    {'selected':'selected'});

                $(group_id).find('option').removeAttr('selected');
                $(group_id).find('option[value="'+value+'"]').attr(
                    {'selected':'selected'});
            }

            /*
                Обработка Submit
            */
            function submitOn(){
                var data_select = $('select[name], input[name]');

                // Валидация
                var i = 0 ;
                var div_col_sm = $('.col-sm-6');
                for (i = 0; i < div_col_sm.length-1; i++) {
                    if (validate($(div_col_sm[i]))){
                        return
                    }
                }


                // TODO: Вынести в отдельную функцию
                var result_data = {};
                var i = 0 ;
                for (i = 0; i < data_select.length; i++) {
                    var selector_obj = $(data_select[i]);
                    result_data[selector_obj.attr('name')]=selector_obj.val()

                }
                //TODO: передовать в контекс процессоре url
                var user = "{{user}}";
                result_data['user']=user;
                url='/submit_order'
                /* отправка сообщения */
                send_ajax(result_data, url);
            };

            /* вещаем lister на submit */
            $('.submitOn').click(submitOn);

            {% if is_group %}
                <!-- Переопределение функции submit -->
                function submitOn() {
                    var data_select = $('select[name], input[name]');
                    var result_data = {};
                    /* валидация */
                        var i = 0 ;
                        var div_col_sm = $('.col-sm-6');
                        for (i = 0; i < div_col_sm.length-1; i++) {
                            var object_with_data =  $(div_col_sm[i]);

                            var findCountObjects = object_with_data.find(
                                'input[value]');
                            var findCountObjectsVal = findCountObjects.val();
                            var findSelect = object_with_data.find(
                                'select')
                            var findSelectVal = findSelect.val();
                            result_data[
                                $($('select[name]')[i]
                                    ).attr('name')
                            ]=findSelectVal

                            result_data[
                                $($('input[name!="csrfmiddlewaretoken"]')[i]
                                    ).attr('name')
                            ]=findCountObjectsVal

                            if (
                                findCountObjectsVal == 0 &&
                                !findSelectVal ||
                                findSelectVal)
                            {
                                    /* correct */
                            }
                            else {
                                /* not correct */
                                var elem = $(findCountObjects[0])
                                if ($(elem).attr('name')){
                                    var name = $(elem).attr(
                                        'name').split('_')[1]
                                    $("h4.modal-title").text(
                                        "Some Error on Page");
                                    $("div.modal-body>p").text(
                                        "It seems there is no " +
                                        "place chosen for the order: "
                                        +name
                                    )
                                     $('#myModal').modal('show');
                                    return true
                                }

                            }
                        }

                    var user = "{{user}}";
                    result_data['user']=user;
                    url='/submit_order';
                    /* отправка сообщения */

                    send_ajax(result_data, url);
                };

                var group_data = JSON.parse('{{json_options|safe}}');
                var disabled_dates = {{disabled_dates|safe}};

                /* задать состояние группам обеда */
                if (group_data) {
                    var iter = 0 ;
                    /* Количество */
                    for (iter in group_data){
                        var value_of_first = group_data[iter]['first']
                        $('#group_input_'+iter).slider(
                            'setValue',
                            value_of_first,
                            true
                        );
                    }
                    /* активно или не активно */
                if (disabled_dates){
                    for (num in disabled_dates){
                        $('#group_input_'+disabled_dates[num]
                            ).slider('disable');
                        }
                    }
                };

            {% endif %}

            /*
                добавление/удаление опций checked
            */

            $('div.toggle.btn').click(function(){
                if ($(this).hasClass("btn-default")){
                    $(this).find('input').attr({"checked":"checked"})
                    $(this).find('input').val(1)
                }
                if ($(this).hasClass("btn-primary")){
                     $(this).find('input').removeAttr('checked');
                     $(this).find('input').val(0)
                }

            });
        });
    </script>

{% endblock %}
{% block jumbotron %} {{ block.super }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for day, simple_day in date_list %}

        <div class="col-sm-6">
        <h3>{{day}}</h3>



        {% if is_group != True %}
            <input name="dateOrder" hidden type="date" value="{{simple_day}}"/>
            <div class="vertical">
            <label >First:</label>
            <input name="first_{{simple_day}}" class="slow ios"
                    type="checkbox"
                    {% with first=simple_day|add:'_first' %}
                    {{ option|get_by_day_checked:first}}
                    data-on="on"
                    data-off="off"
                    data-toggle="toggle"
                    data-height="40"
                    data-width="100"
                    {{ simple_day|in_list_disabled:disabled_dates}}
                    {{ disabled.disabled|default:""}}
                    value={{option|if_option_checked_return_one:first}}
                    {% endwith %}
            />
            </div>
            <div class="vertical">
            <label>Second:</label>
            <input name="second_{{simple_day}}"
                   class="slow ios"
                    type="checkbox"
                    {% with second=simple_day|add:'_second' %}
                    {{ option|get_by_day_checked:second}}
                    data-on="on"
                    data-off="off"
                    data-toggle="toggle"
                    data-height="40"
                    data-width="100"
                    {{ simple_day|in_list_disabled:disabled_dates}}
                    {{ disabled.disabled|default:""}}
                    value={{option|if_option_checked_return_one:second}}
                    {% endwith %}
            />
            </div>
            <div class="vertical">
            <label>Salad:</label>
            <input name="salad_{{simple_day}}"
                   class="slow ios"
                    type="checkbox"
                    {% with salad=simple_day|add:'_salad' %}
                    {{ option|get_by_day_checked:salad}}

                    data-on="on"
                    data-off="off"
                    data-toggle="toggle"
                    data-height="40"
                    data-width="100"
                    {{ simple_day|in_list_disabled:disabled_dates}}
                    {{ disabled.disabled|default:""}}
                    value={{option|if_option_checked_return_one:salad}}
                   {% endwith %}
            />
            </div>
            <div class="selectOption">
            <label>Select Office :</label>
            <select class="form-control offices"
                    {{ disabled.disabled|default:""}}
                id="{{simple_day}}"
                name="{{simple_day}}"
                {{ simple_day|in_list_disabled:disabled_dates}}
                >
                <option disabled selected> -- select a lunch location -- </option>
                {% for location in all_locations %}
                <option value="{{location}}">{{location}}</option>
                {% endfor %}
            </select>
            </div>
        {% else %}

            <input
                    name="count_{{simple_day}}"
                    id="group_input_{{simple_day}}"
                    class="coolSlider"

            />
            <div class="selectOption">
            <label>Select Office :</label>
            <select class="form-control offices"
                    {{ disabled.disabled|default:""}}
                id="group_{{simple_day}}"
                name="group_{{simple_day}}"
                {{ simple_day|in_list_disabled:disabled_dates}}
                >
                <option disabled selected> -- select a lunch location -- </option>
                {% for location in all_locations %}
                <option value="{{location}}">{{location}}</option>
                {% endfor %}
            </select>
            </div>
        {% endif %}
        </div>
        {% endfor %}
        <div class="submitButton col-sm-6">
            <button
                    {{ disabled.disabled|default:""}}
                    type="button"
                    class="btn btn-primary btn-lg submitOn">
            Submit
            </button>
        </div>

    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
{% block end_content %}
<!--TODO: вынести в static, вынести в include -->
    <style>
        /* Кастомные стили для страници */
        abbr {
            border-bottom: 2px solid red; /* Пунктирное подчеркивание текста */
            color: #000080; /* Темно-синий цвет текста */
            text-decoration: none;
        }
        .slow {
            transition: left 0.7s; /* Анимация кнопок */
            -webkit-transition: left 0.7s; /* Анимация кнопок */
        }
        .ios {
            border-radius: 20px; /* форма кнопок*/
        }

        .vertical {
            /* расположить кнопки вертикально */
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            /* Внутренний отступ */
            padding :2px 0px;
            /* выравнивание опций*/
            text-align: right;
            width: 100%;

        }
        label {
            /* выровнять подпись опций*/
            float:left;
            text-align: center;
            }

        div.slider.slider-horizontal {
            width: 87%;
            left: 1em;
            }
        .submitButton{
            padding: 4em 0px;
        }

        div.submitButton > button.btn.btn-primary.btn-lg {
            width:100%;
        }
        .selectOption{
        width:100%;
        text-align:center;
        }


</style>
{% endblock %}
